<div class="col-md-9 pull-right">

  <!-- div class="col-md-9 pull-right">
    <form id="eq_type">
      <label class="checkbox-inline"><input type="checkbox" id="type_camera_cb" value="camera"
                                            onclick="handleTypeClick(this)">Cameras</label>
      <label class="checkbox-inline"><input type="checkbox" id="type_lens_cb" value="lens"
                                            onclick="handleTypeClick(this)">Lenses</label>
      <label class="checkbox-inline"><input type="checkbox" id="type_accessory_cb" value="accessory"
                                            onclick="handleTypeClick(this)">Accessories</label>
    </form>
  </div -->

  <div id="products" class="row">
    <% skus.map(function(sku) { %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="product clearfix">
        <div class="ribbon red-hot"></div><!-- Ribbon -->
        <div class="product-image">
          <a href='/product_details?sku=<%= sku.id %>'><img src="/images/<%= sku.id %>.jpg" class="img-responsive"
                                                            alt="Cool Cam"></a>
          <!-- a href="#" onclick="window.location.href = '/product_details';"><img src=<%= sku.img_back %> class="img-responsive" alt="Fancy Shoes"></a -->
          <a href='/product_details?sku=<%= sku.id %>'><img src="images/<%= sku.id %>-back.jpg" class="img-responsive"
                                                            alt="Cool Cam"></a>
          <!-- div class="product-overlay">
            <a href="#" class="add-to-cart"><i class="fa fa-cart-plus"></i></a>
            <a href="<%= sku.img %>" onclick="window.location.href = '/product_details';" class="gallery-zoom"
               data-lightbox="ajax"><i class="fa fa-search"></i></a>
          </div-->
        </div>
        <div class="product-desc">
          <div class="editContent">
            <h6><a href="#"><%= sku.manufacturer %> <%= sku.model %></a></h6>
          </div>
          <div class="editContent">
            <!-- h4>
              $<%= sku.marketprice %>
            </h4 -->
          </div>
          <!-- div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
          </div-->
        </div>
      </div>
    </div>
    <% }) %>

  </div><!-- /.row -->

</div><!-- /.main-col -->
