<div class="col-md-12">
  <div class="row">

    <span hidden="visibility:hidden" class="sku_id"><%=sku.id%></span>
    <span hidden="visibility:hidden" id="delivery_mechanism">POST</span>

    <div class="col-md-6">
      <div class="ribbon exclusive"></div><!-- Ribbon -->
      <div class="product-image">
        <a href="#"><img src="images/<%= sku.id %>.jpg" class="img-responsive" alt="Image not available"></a>
        <a href="#"><img src="images/<%= sku.id %>-back.jpg" class="img-responsive"
                         alt="Image not available"></a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="product-desc">
        <div class="editContent" style="outline: none; cursor: inherit;">
          <h1><span id="sku_name"><%= sku.manufacturer %> <%= sku.model %></span></h1>
        </div>
        <div class="editContent" style="outline: none; cursor: inherit;">
          <span id="sku_id" hidden="hidden"><%= sku.id %></span>
          <span id="sku_price" hidden="hidden"><%= sku.marketprice %></span>
          <span id="date_range" hidden="hidden">NONE</span>
        </div>
        <!--div class="product-rating">
          <span>Avg customer rating:</span>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
        </div-->
        <div class="demo">
          <span id="date-range0"
                style="background-color:#49e; color:white;padding:3px; cursor:pointer;
                border-radius:4px; text-decoration: underline;">Select the rental period</span>
          <span id="no_of_days">NO</span><span id="no_of_days_text"> day(s) selected....  </span>
          <div class="demo">You pay: <span id="you_pay" style="text-decoration: underline;">Select the period to see this</span></div>
          <div id="date-range0-container"></div>
        </div>
        <form class="form-inline">
          <!-- div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Quantity</label>
            <div class="input-group">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button" style="outline: none; cursor: inherit;">-</button>
											</span>
              <input type="text" class="form-control" size="1" id="quantity" placeholder="1">
              <span class="input-group-btn">
												<button class="btn btn-default" type="button" style="outline: none; cursor: inherit;">+</button>
											</span>
            </div>
          </div -->

          <div hidden="visibility:hidden" class="alert alert-warning alert-dismissable over_order_warning">
            over order warning
          </div>
          <button id="add2cart" type="button" class="btn btn-primary" style="outline: none; cursor: inherit;">Add to
            Cart
          </button>
        </form>
      </div><!-- /.product-desc -->
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="editContent" style="outline: none; cursor: inherit;">
      <p><%= sku.description%></p>
      <!-- p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero velit id eaque ex quae
        laboriosam nulla optio doloribus! Perspiciatis, libero, neque, perferendis at nisi optio
        dolor!</p>
      <p>Perspiciatis ad eveniet ea quasi debitis quos laborum eum reprehenderit eaque explicabo
        assumenda rem modi.</p -->
    </div>
  </div>

  <div class="more-info-tabs">

    <ul class="nav nav-tabs text-center" role="tablist" id="myTab">
      <li class="active"><a href="#description1" role="tab" data-toggle="tab">Description</a></li>
      <li><a href="#moreinfo1" role="tab" data-toggle="tab">More Info</a></li>
      <li><a href="#reviews1" role="tab" data-toggle="tab">Reviews</a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane fade in active" id="description1">
        <div class="row">

          <div class="col-xs-10 col-xs-offset-1">
            <div class="editContent" style="outline: none; cursor: inherit;">
              <p><%= sku.description%></p>
              <!-- p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero velit id eaque ex quae
                laboriosam nulla optio doloribus! Perspiciatis, libero, neque, perferendis at nisi optio
                dolor!</p>
              <p>Perspiciatis ad eveniet ea quasi debitis quos laborum eum reprehenderit eaque explicabo
                assumenda rem modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero velit
                id eaque ex quae laboriosam nulla optio doloribus! Perspiciatis, libero, neque, perferendis
                at nisi optio dolor!</p>
              <p>Perspiciatis ad eveniet ea quasi debitis quos laborum eum reprehenderit eaque explicabo
                assumenda rem modi.</p-->
            </div>
          </div>

        </div>
      </div><!-- /#tab1 -->

      <div class="tab-pane fade" id="moreinfo1">
        <div class="row">

          <!-- div class="col-xs-10 col-xs-offset-1">
            <table class="table table-striped table-hover">
              <tbody>
              <tr>
                <td>Sizes:</td>
                <td>Available is small, medium and large</td>
              </tr>
              <tr>
                <td>Colors:</td>
                <td>Multicolor print</td>
              </tr>
              <tr>
                <td>Fabric:</td>
                <td>Cotton, silk and synthetic</td>
              </tr>
              <tr>
                <td>Washing:</td>
                <td>Dry clean only</td>
              </tr>
              </tbody>
            </table>
          </div -->

        </div><!-- /.row -->
      </div><!-- /#tab2 -->

      <div class="tab-pane fade" id="reviews1">
        <div class="row">

          <div class="col-xs-10 col-xs-offset-1">

            <div class="review">
              <a href="<%= sku.reviews%>"><%= sku.reviews%></a>

              <!--
              <h4>Joe Smith</h4>
              <h5>March 5th 2015</h5>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo perferendis aliquid tenetur.
                Aliquid, tempora, sit aliquam officiis nihil autem eum at repellendus facilis quaerat
                consequatur commodi laborum saepe non nemo nam maxime quis error tempore possimus est quasi
                reprehenderit fuga!</p>
            </div>

            <div class="review">
              <h4>Sally T</h4>
              <h5>April 25th 2015</h5>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo perferendis aliquid tenetur.
                Aliquid, tempora, sit aliquam officiis nihil autem eum at repellendus facilis quaerat
                consequatur commodi laborum saepe non nemo nam maxime quis error tempore possimus est quasi
                reprehenderit fuga!</p>
            </div>
            -->
          </div>

        </div><!-- /.row -->
      </div><!-- /#tab3 -->

    </div><!-- /.tab-content -->
  </div><!-- /.more-info-tabs -->

</div><!-- /.main-col -->



